body {
    background-color: rgb(227, 239, 255);
}

.container-main{

    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 2rem;
    color: rgb(110, 115, 121);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

form{
    background-color: aliceblue;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(51, 51, 51);
    border: 1px rgb(214, 220, 226) solid;
}

select{
    font-size: 0.8rem;
    border: 1px rgb(214, 220, 226) solid;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    color: rgb(42, 37, 51);
    background-color: rgb(227, 239, 255);
}

option{
    border: none;
}



.btn-file{

    color: rgb(175, 175, 175);

}

input::file-selector-button, .btn{
    background-color: rgb(227, 239, 255);
    border: 1px rgb(214, 220, 226) solid;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.8rem;
    color: rgb(42, 37, 51);
}

.result-content{
    display: flex;
    align-items: center;
    width: 75%;
    height: 50%;
    overflow: auto;
    border: 1px gray solid;
    padding: 10px;
}

table{
    border:0;
    width:100%;
}

th{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(51, 51, 51);
    border:0;
    text-align:left;
    
}

td{
   border:0; 
}

tr{
    border: 0;
    font-size: 0.8rem;
}

.message-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 20px;

}

.message-container-card {
    background: darkslateblue;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
}

.tariff {
    color: white;
    font-weight: 900;
    font-size: larger;
}

.message {
    color: lightgrey;
    font-size: small;
}

.main-container{
    padding: 20px;
}

.detail {
    color: white;
    font-size: small;
    font-weight: 400;
}

.error {
    color: chocolate;
    background: black;
    padding: 10px;
    font-size: small;
}




